* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

                      /* navbar section */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #1d1d1f;
    max-width: 100%;
}

ul{
    display: flex;
    gap: 40px;
    margin: 10px 0px;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #f5f5f7;
    font-weight: 400px;
}

                      /* 1st bg pictue */

    .box1 .img1{
        background-image: url(./images/hero_iphone14pro__e5xbgo5ffhg2_large_2x.jpg);
        height: 600px;
        width: 100%;
        background-position:center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding-top: 50px;
    }                     
    .box1 .img1 h1{
        font-size: 50px;

    }
    .box1 .img1 p{
        font-size: 30px;
    }
    .img1 li{
        list-style-type: none;  
    }
    .img1 li a{
        text-decoration: none;
        color: #2992ff;
        line-height: 1.5;
        font-size:18px;
    } 

          /* 2nd bg pictue */
          .box2 .img2{
            background-image: url(./images/hero_iphone14__fjmsqstr1ceq_large_2x.jpg);
            height: 600px;
            width: 100%;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(31, 31, 31);
            padding-top: 50px;
        }                     
        .box2 .img2 h1{
            font-size: 50px;
    
        }
        .box2 .img2 p{
            font-size: 30px;
        }
        .img2 li{
            list-style-type: none;  
        }
        .img2 li a{
            text-decoration: none;
            color: #2992ff;
            line-height: 1.5;
            font-size:18px;
        }

        /* 3rd bg pictue */
 .box3 .img3{
            background-image: url(./images/hero_apple_watch_series_8__bjc1ok5mkjua_large_2x.jpg);
            height: 600px;
            width: 100%;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding-top: 50px;
}    
.box3 .img3 img{
    width: 170px;
    height: 70px;
}
                
.box3 .img3 p{
            font-size: 30px;
            line-height: 1.5;
}
.img3 li{
            list-style-type: none;  
}
.img3 li a{
            text-decoration: none;
            color: #2992ff;
            line-height: 1.5;
            font-size:18px;
}
        
           /* 4th/5th bg pictue */

.box4{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding-top: 10px; ; 
            color: rgb(31, 31, 31);          
}    
.box4 .img4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/promo-apple-fitness-plus-iphone__bzeal882mv7m_large_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 50px;
}
.box4 .img4 img{
    width: 200px;
    height: 35px;
}

.box4 .img4 p{
    font-size: 22px;
}
.img4 li{
    list-style-type: none;  
}
.img4 li a{
    text-decoration: none;
    color: #2992ff;
    line-height: 1.5;
    font-size:18px;
}
.box4 .img5{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-image: url(./images/promo_apple_watch_ultra__gnsqulvdc4a6_large_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 49.5%;
    margin-left: auto;
    left: 0px;
    padding-top: 50px;
}
.box4 .img5 img{
    width: 150px;
    height: 50px;
}
 
.box4 .img5 p{
    font-size: 22px;
    line-height: 2;
}
.img5 li{
    list-style-type: none;  
}
.img5 li a{
    text-decoration: none;
    color: #2992ff;
    line-height: 1.5;
    font-size:18px;
}

        /* 6th/7th bg pictue */

        .box5{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding-top: 10px; ; 
            color: rgb(31, 31, 31);          
}    
.box5 .img6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/promo_ipad__fioegapg12qi_large_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 30px;
}
.box5 .img6 h1{
    font-size: 50px;

}

.box5 .img6 p{
    font-size: 22px;
}
.img6 li{
    list-style-type: none;  
}
.img6 li a{
    text-decoration: none;
    color: #2992ff;
    line-height: 1.5;
    font-size:18px;
}
.box5 .img7{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-image: url(./images/promo__sw58lbodkmqq_large_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 49.5%;
    margin-left: auto;
    left: 0px;
    color: white;
    padding-top: 30px;
}
.box5 .img7 h1{
    font-size: 50px;
}

.box5 .img7 img{
    width: 150px;
    height: 50px;
}
 
.box5 .img7 p{
    font-size: 22px;
}
.img7 li{
    list-style-type: none;  
}
.img7 li a{
    text-decoration: none;
    color: #ffff;
    line-height: 1.5;
    font-size:18px;
}

        /* 8th/9th bg pictue */
 .box6{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 10px; ; 
    color: rgb(31, 31, 31);          
}
.box6 .img8{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/tile__cauwwcyyn9hy_large_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 30px;
}
.box6 .img8 img{
    width: 120px;
    height: 35px;
}

.box6 .img8 p{
    font-size: 22px;
    
}
.img8 li{
    list-style-type: none;  
}
.img8 li a{
    text-decoration: none;
    color: #2992ff;
    line-height: 1.5;
    font-size:18px;
}
.box6 .img9{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-image: url(./images/xoxo_promo__czow8gsh0gk2_large_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 49.5%;
    margin-left: auto;
    left: 0px;
    padding-top: 40px;
}
.box6 .img9 img{
    width: 120px;
    height: 30px;
}
 
.box6 .img9 p{
    font-size: 25px;
    color: #fff;
    line-height: 2;
}
.img9 li{
    list-style-type: none;  
}
.img9 li a{
    text-decoration: none;
    color: #2992ff;
    line-height: 1.5;
    font-size:18px;
}

    /* slider */

.slider{
    background-image: url(images/hero_iphone14__fjmsqstr1ceq_large_2x.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0px;
    animation: changeImage 20s linear infinite;
}

@keyframes changeImage {
    0% {
        background-image: url(images/hero_iphone14pro__e5xbgo5ffhg2_large_2x.jpg);
    }
    25% {
        background-image: url(images/hero_apple_watch_series_8__bjc1ok5mkjua_large_2x.jpg);
    }
    50% {
        background-image: url(images/hero_iphone14__fjmsqstr1ceq_large_2x.jpg);
    }
    75% {
        background-image: url(images/promo-apple-fitness-plus-iphone__bzeal882mv7m_large_2x.jpg);
    }
    100% {
        background-image: url(images/promo_ipad__fioegapg12qi_large_2x.jpg);
    }
}

   /* footer */

.footer{
    background-color: #f8f7f7;
    color: #6e6e73;
    width: 100%;
    height: 1100px;
    padding: 20px 50px;
}

.footer .para1 li{
list-style-type: none;
}

.footer .para1 p{
    line-height: 1.5;
    padding-bottom: 15px;
    
}

.footer .table{
    padding-top: 20px;
    display: flex;
    gap: 50px;
}
.table .title{
    color: #1d1d1f;
    font-weight: bold;
}
.footer td{
    cursor: pointer;
    padding-top: 5px;
    font-weight: 400;
    font-size: 18px;
    padding-left: 50px;
}
.footer td:hover{
    text-decoration: underline;
}
.footer .bottom p{
    padding-top: 30px;
    word-spacing: 2px;
}
.footer .bottom a{
    text-decoration: none;
    color: #2992ff;
}
.finaSlection{
    margin-bottom: 30px;
}
.finaSlection a{
    font-size: 15px;
text-decoration: none;
color: #6e6e73;
}
.finaSlection a:hover{
    text-decoration: underline;
}

/* media quieries

    /* Smartphones */
    @media only screen and (max-width: 506px) {
        ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 20px 0px;

        }
        ul li{
            text-align: center;
            list-style-type: none;
        }
        .box1 .img1{
            background-image: url(./images/small/hero_iphone14pro__e5xbgo5ffhg2_small_2x.jpg);
            height: 600px;
            width: 100%;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding-top: 20px;
        }        
        .box2 .img2{
            background-image: url(./images/hero_iphone14__fjmsqstr1ceq_large_2x.jpg);
            height: 600px;
            width: 100%;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(31, 31, 31);
            padding-top: 20px;
        }  
        .box3 .img3{
            background-image: url(./images/small/hero_apple_watch_series_8__bjc1ok5mkjua_small_2x.jpg);
            height: 600px;
            width: 100%;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding-top: 50px;
}    
.box3 .img3 img{
    width: 170px;
    height: 70px;
    margin-bottom: 20px;
}
                
.box3 .img3 p{
            font-size: 30px;
            line-height: 1;
}
.img3 li{
            list-style-type: none;  
}
.img3 li a{
            text-decoration: none;
            color: #2992ff;
            font-size:18px;
} 
.box4{
    display: flex;
    flex: 1;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: center;
    color: white;
    color: rgb(31, 31, 31);   ;       
}

.box4 .img4{
    background-image: url(./images/small/promo-apple-fitness-plus-iphone__bzeal882mv7m_small_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 20px;
}
.box4 .img4 img{
    width: 150px;
    height: 35px;
    margin-bottom: 10px;
}

.box4 .img4 p{
    font-size: 14px;
}
.img4 li{
    list-style-type: none;  
    line-height: 0;
}
.img4 li a{
    line-height: 0;
    text-decoration: none;
    color: #2992ff;
    font-size:16px;
}
.box4 .img5{
    align-items: center;
    position: absolute;
    background-image: url(./images/small/promo_apple_watch_ultra__gnsqulvdc4a6_small_2x.jpg);
    background-size: cover;   
    height: 390px;
    width: 49.5%;
    margin-left: auto;
    left: 0px;
    padding-top: 20px;
}
.box4 .img5 img{
    width: 150px;
    height: 50px;
}
 
.box4 .img5 p{
    font-size: 22px;
}
.img5 li{
    list-style-type: none;  
    line-height: 0.6;
}
.img5 li a{
    line-height: 0;
    text-decoration: none;
    color: #2992ff;
    font-size:18px;
}

.box5 .img6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/small/promo_ipad__fioegapg12qi_small_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 20px;
}
.box5 .img6 h1{
    font-size: 35px;

}

.box5 .img6 p{
    font-size: 16px;
    
}
.img6 li{
    list-style-type: none;  
    line-height: 0.5;
}
.img6 li a{
    line-height: 0;
    text-decoration: none;
    color: #2992ff;
    font-size:18px;
}
.box5 .img7{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-image: url(./images/small/promo__sw58lbodkmqq_small_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 49.5%;
    margin-left: auto;
    left: 0px;
    color: white;
    padding-top: 30px;
}
.box5 .img7 h1{
    font-size: 25px;
    margin-bottom: 10px;
} 
.box5 .img7 p{
    font-size: 16px;
}
.box6 .img8{
    display: flex;
    align-items: center;
    background-image: url(./images/small/tile__cauwwcyyn9hy_small_2x.jpg);
    background-size: cover;
    height: 400px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 30px;
}
.box6 .img8 img{
    width: 100px;
    height: 30px;
}

.box6 .img8 p{
    font-size: 18px;
    margin-bottom: 0px;
    
}
.img8 li{
    list-style-type: none;  
    line-height: 0.6;
}
.img8 li a{
    line-height: 0;
    text-decoration: none;
    color: #2992ff;
    font-size:16px;
}
.box6 .img9{
    display: flex;
    flex: 1;
    align-items: center;
    position: absolute;
    background-image: url(./images/small/xoxo_promo__czow8gsh0gk2_small_2x.jpg);
    background-size: cover;
    height: 400px;
    margin-left: auto;
    left: 0px;
    padding-top: 40px;
}
.box6 .img9 img{
    width: 120px;
    height: 30px;
}
 
.box6 .img9 p{
    font-size: 20px;
    color: #fff;
    line-height: 2.5;
}      

.slider{
    background-image: url(images/hero_iphone14__fjmsqstr1ceq_large_2x.jpg);
    width: 100vh;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 5px;
    animation: changeImage 20s linear infinite;
}
.footer{
    background-color: #f8f7f7;
    color: #6e6e73;
    width: 100%;
    height: 1550px;
    padding: 10px 0px;
}
.footer .para1 li{
    list-style-type: none;
    }
    
    .footer .para1 p{
        padding: 10px 30px;
        line-height:1.2;
        padding-bottom: 10px;
        
    }
.table .title{
    color: #1d1d1f;
    font-weight: bold;
}
.footer td{
    line-height: 1.2;
    cursor: pointer;
    /* padding-top: 5px; */
    /* font-weight: 400; */
    font-size: 14px;
    padding-left: 20px;
}
.footer td:hover{
    text-decoration: underline;
}
.footer .bottom p{
    text-align: center;
    font-size: 14px;
    padding: 15px;
    margin-top: 20px;
    word-spacing: 2px;
}
.footer .bottom a{
    text-decoration: none;
    color: #2992ff;
}
.finaSlection{
    padding: 20px;
}
.finaSlection a{
    text-align: center;
    padding-right: 10px;
font-size: 12px;
text-decoration: none;
color: #6e6e73;
}

      }
  
      /* Tablet */
      @media(min-width: 501px) and (max-width: 768px) {
        ul{
            display: flex;
            gap: 18px;
            margin: 20px 0px;
        }
        ul li{
            list-style-type: none;
        }
        ul li a{
            font-size: 16px;
            text-decoration: none;
            color: #f5f5f7;
            font-weight: 400px;
        }
        .box1 .img1{
            background-image: url(./images/small/hero_iphone14pro__e5xbgo5ffhg2_small_2x.jpg);
            height: 600px;
            width: 100%;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding-top: 30px;
        } 
        .box1 .img1 p{
            font-size: 40px;
        }
        .img1 li{
            list-style-type: none;  
        }
        .img1 li a{
            text-decoration: none;
            color: #2992ff;
            line-height: 1.5;
            font-size:20px;
        }        
        .box2 .img2{
            background-image: url(./images/hero_iphone14__fjmsqstr1ceq_large_2x.jpg);
            height: 600px;
            width: 100%;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(31, 31, 31);
            padding-top: 50px;
        }  
        .box2 .img2 p{
            font-size: 30px;
        }
        .img2 li{
            list-style-type: none;  
        }
        .img2 li a{
            text-decoration: none;
            color: #2992ff;
            line-height: 1.5;
            font-size:20px;
        }

        .box3 .img3{
            background-image: url(./images/small/hero_apple_watch_series_8__bjc1ok5mkjua_small_2x.jpg);
            height: 600px;
            width: 100%;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding-top: 50px;
} 
.box3 .img3 img{
    width: 190px;
    height: 80px;
}
                
.box3 .img3 p{
            font-size: 30px;
            line-height: 1.5;
}
.img3 li{
            list-style-type: none;  
}
.img3 li a{
            text-decoration: none;
            color: #2992ff;
            line-height: 1.5;
            font-size:20px;
}
.box4 .img4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/small/promo-apple-fitness-plus-iphone__bzeal882mv7m_small_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 50px;
}
.box4 .img4 img{
    width: 210px;
    height: 45px;
    margin-bottom: 10px;
}

.box4 .img4 p{
    font-size: 20px;
}
.img4 li{
    list-style-type: none;  
    line-height: 0;
}
.img4 li a{
    line-height: 0;
    text-decoration: none;
    color: #2992ff;
    font-size:18px;
}
.box4 .img5{
    align-items: center;
    position: absolute;
    background-image: url(./images/small/promo_apple_watch_ultra__gnsqulvdc4a6_small_2x.jpg);
    background-size: cover;   
    height: 500px;
    width: 49.5%;
    margin-left: auto;
    left: 0px;
    padding-top: 50px;
}
.box4 .img5 img{
    width: 210px;
    height: 70px;
}
.box5 .img6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/small/promo_ipad__fioegapg12qi_small_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 20px;
}
.box5 .img6 h1{
    font-size: 55px;

}
.box5 .img6 p{
    font-size: 20px;
    
}
.img6 li{
    list-style-type: none;  
    line-height: 0.5;
}
.img6 li a{
    line-height: 0;
    text-decoration: none;
    color: #2992ff;
    font-size:18px;
}
.box5 .img7{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-image: url(./images/small/promo__sw58lbodkmqq_small_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 49.5%;
    margin-left: auto;
    left: 0px;
    color: white;
    padding-top: 30px;
}
.box5 .img7 h1{
    font-size: 40px;
    margin-bottom: 10px;
} 
.box5 .img7 p{
    font-size: 20px;
}
.box6 .img8{
    display: flex;
    align-items: center;
    background-image: url(./images/small/tile__cauwwcyyn9hy_small_2x.jpg);
    background-size: cover;
    height: 500px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 30px;
}
.box6 .img8 img{
    width: 180px;
    height: 50px;
}

.box6 .img8 p{
    font-size: 20px;
    
}
.img8 li{
    list-style-type: none;  
    line-height: 0.6;
}
.img8 li a{
    line-height: 0;
    text-decoration: none;
    color: #2992ff;
    font-size:18px;
}
.box6 .img9{
    display: flex;
    flex: 1;
    align-items: center;
    position: absolute;
    background-image: url(./images/small/xoxo_promo__czow8gsh0gk2_small_2x.jpg);
    background-size: cover;
    height: 500px;
    margin-left: auto;
    left: 0px;
    padding-top: 40px;
}
.box6 .img9 img{
    width: 180px;
    height: 50px;
}
 
.box6 .img9 p{
    font-size: 25px;
    color: #fff;
    line-height: 2.5;
}      

.slider{
    background-image: url(images/hero_iphone14__fjmsqstr1ceq_large_2x.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 5px;
    animation: changeImage 20s linear infinite;
}
      }
  
      /* Widescreen */
      @media(min-width: 1500px){
        .navbar {
            display: flex;
            justify-content: space-around;
            background-color: #1d1d1f;
            max-width: 100%;
            height: 100px;
            padding-top: 15px;
        }
        
        ul{
    display: flex;
    gap: 80px;
    margin: 10px 0px;
}
ul li{
    list-style-type: none;
}
ul li a{
    font-size: 45px;
    text-decoration: none;
    color: #f5f5f7;
    font-weight: 400px;
}
.box1 .img1{
        background-image: url(./images/hero_iphone14pro__e5xbgo5ffhg2_large_2x.jpg);
        height: 1500px;
        width: 100vw;
        background-position:center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding-top: 130px;
    }                     
    .box1 .img1 h1{
        font-size: 90px;

    }
    .box1 .img1 p{
        font-size: 80px;
    }
    .img1 li{
        list-style-type: none;  
    }
    .img1 li a{
        text-decoration: none;
        color: #2992ff;
        line-height: 1.5;
        font-size:60px;
    } 

          /* 2nd bg pictue */
          .box2 .img2{
            background-image: url(./images/hero_iphone14__fjmsqstr1ceq_large_2x.jpg);
            height: 1500px;
            width: 100vw;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(31, 31, 31);
            padding-top: 120px;
        }                     
        .box2 .img2 h1{
            font-size: 120px;
    
        }
        .box2 .img2 p{
            font-size: 70px;
        }
        .img2 li{
            list-style-type: none;  
        }
        .img2 li a{
            text-decoration: none;
            color: #2992ff;
            line-height: 1.5;
            font-size:60px;
        }

        /* 3rd bg pictue */
 .box3 .img3{
            background-image: url(./images/hero_apple_watch_series_8__bjc1ok5mkjua_large_2x.jpg);
            height: 1500px;
            width: 100vw;
            background-position:center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding-top: 120px;
}    
.box3 .img3 img{
    width: 510px;
    height: 280px;
}
                
.box3 .img3 p{
            font-size: 70px;
            line-height: 1.5;
}
.img3 li{
            list-style-type: none;  
}
.img3 li a{
            text-decoration: none;
            color: #2992ff;
            line-height: 1.5;
            font-size:60px;
}
.box4 .img4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/promo-apple-fitness-plus-iphone__bzeal882mv7m_large_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 1400px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 70px;
}
.box4 .img4 img{
    width: 450px;
    height: 150px;
    margin-bottom: 45px;
}

.box4 .img4 p{
    font-size: 50px;
}
.img4 li{
    list-style-type: none;  
}
.img4 li a{
    text-decoration: none;
    color: #2992ff;
    line-height: 1.5;
    font-size:50px;
}
.box4 .img5{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-image: url(./images/promo_apple_watch_ultra__gnsqulvdc4a6_large_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 1400px;
    width: 49.5%;
    margin-left: auto;
    left: 0px;
    padding-top: 100px;
}
.box4 .img5 img{
   width: 540px;
    height: 180px;
    margin-bottom: 20px;
}
 
.box4 .img5 p{
    font-size: 70px;
    line-height: 2;
}
.img5 li{
    list-style-type: none;  
}
.img5 li a{
    text-decoration: none;
    color: #2992ff;
    line-height: 1.5;
    font-size:50px;
}
.box5 .img6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/small/promo_ipad__fioegapg12qi_small_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 1400px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 120px;
}
.box5 .img6 h1{
    font-size: 120px;

}

.box5 .img6 p{
    font-size: 70px;
    margin-bottom: 60px;
    
}
.img6 li{
    list-style-type: none;  
    line-height: 0.5;
}
.img6 li a{
    line-height: 0;
    text-decoration: none;
    color: #2992ff;
    font-size:50px;
}
.box5 .img7{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-image: url(./images/small/promo__sw58lbodkmqq_small_2x.jpg);
    background-position: center;
    background-size: cover;
    height: 1400px;
    width: 49.5%;
    margin-left: auto;
    left: 0px;
    color: white;
    padding-top: 120px;
}
.box5 .img7 h1{
    font-size: 100px;
    margin-bottom: 10px;
} 
.box5 .img7 p{
    font-size: 60px;
}
.box5 .img7 a{
    font-size: 50px;
}
.box6 .img8{
    display: flex;
    align-items: center;
    background-image: url(./images/small/tile__cauwwcyyn9hy_small_2x.jpg);
    background-size: cover;
    height: 1400px;
    width: 49.5%;
    margin-left: auto;
    padding-top: 120px;
}
.box6 .img8 img{
    width: 420px;
    height: 160px;
    margin-bottom: 10px;
}

.box6 .img8 p{
    font-size: 60px;
    
}
.img8 li{
    margin-top: 60px;
    list-style-type: none;  
    line-height: 0.6;
}
.img8 li a{
    line-height: 0;
    text-decoration: none;
    color: #2992ff;
    font-size:50px;
}
.box6 .img9{
    display: flex;
    flex: 1;
    align-items: center;
    position: absolute;
    background-image: url(./images/small/xoxo_promo__czow8gsh0gk2_small_2x.jpg);
    background-size: cover;
    height: 1400px;
    margin-left: auto;
    left: 0px;
    padding-top: 120px;
}
.box6 .img9 img{
    width: 420px;
    height: 150px;
}
 
.box6 .img9 p{
    font-size: 70px;
    color: #fff;
    line-height: 2.5;
}      
.slider{
    background-image: url(images/hero_iphone14__fjmsqstr1ceq_large_2x.jpg);
    width: 100vw;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 5px;
    animation: changeImage 20s linear infinite;
}
.footer{
    background-color: #f8f7f7;
    color: #6e6e73;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}
.footer .para1 p{
    margin-top: 50px;
    font-size: 50px;
        padding: 0px 30px;
        line-height:1.2;
        padding-bottom: 40px;
        
    }
    .footer td{
    line-height: 1.2;
    cursor: pointer;
    font-size: 50px;
    padding-left: 20px;
}
.footer .bottom p{
    font-size: 45px;
    padding-top: 90px;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 40px;
}

.finaSlection{
    width: 100vw;
    text-align: center;
}
.finaSlection a{
    padding-left: 35px;
    font-size: 50px;
    text-decoration: none;
    color: #6e6e73;
}
      }
  
